section.feedbacks#feedbacks.text-center
    h2.feedbacks-title.section-title.text-uppercase #{landing.feedbacks.title}
    span.section-border
    div.feedbacks-gallery.slick-carousel
        each galleryItem in landing.feedbacks.items
            a.feedbacks-gallery--item.block(href="#{galleryItem.link}", target="_blank")
                div.feedbacks-gallery--item-avatar.center-block
                    img.feedbacks-gallery--item-avatar-img(src="#{galleryItem.avatar}")
                p.feedbacks-gallery--item-text #{galleryItem.text}
                h3.feedbacks-gallery--item-name #{galleryItem.name}

