section.projects#projects
    div.timeline-section-title
        div.timeline-section-title--icon
        div.timeline-section-title--label
            h1.section-title #{cv.projects.title}
    div.flex-container
        div.timeline-block-point
        div.full-width.projects-gallery-container
            div.projects-gallery.slick-carousel
                each project in cv.projects.items
                    div
                        div
                            div.projects-gallery--item
                                if !!project.website
                                    a.projects-gallery--item-name.text-center.block(href="#{project.website}", target="_blank") #{project.name}
                                else
                                    div.projects-gallery--item-name.text-capitalize.text-center #{project.name}
                                p.projects-gallery--item-description #{project.description}
                                div.projects-gallery--item-technology-stack
                                    i.fa.fa-cogs.projects-label-icon
                                    span.projects-gallery--item-technology-stack-label.projects-label Technology stack:
                                        span #{" " + project.technologyStack.join(", ")}
                                if project.responsibilities.length > 0
                                    div.projects-gallery--item-responsibilities.text-capitalize
                                        i.fa.fa-exclamation.projects-label-icon
                                        span.projects-label Responsibilities:
                                            each projectResponsibility in project.responsibilities
                                                ul
                                                    li.projects-gallery--item-responsibilities---item #{projectResponsibility}
                                if !!project.type
                                    p.projects-gallery--item-type.text-capitalize
                                        i.fa.fa-filter.projects-label-icon
                                        span.projects-label Type:
                                            span #{" " + project.type}
                                if !!project.company
                                    p.projects-gallery--item-company.text-capitalize
                                        i.fa.fa-home.projects-label-icon
                                        span.projects-label Company:
                                            span #{" " + project.company}
                                if !!project.role
                                    p.projects-gallery--item-role.text-capitalize
                                        i.fa.fa-user.projects-label-icon
                                        span.projects-label Role:
                                            span #{" " + project.role}
                                if !!project.source
                                    p.projects-gallery--item-source
                                        i.fa.fa-github.projects-label-icon
                                        span.projects-label Source:
                                            a(href="#{project.source}", target="_blank") #{" " + project.source}